body {
    width: 100%;
    height: 100%;
    padding-top: 60px;
}

/* Font styles */


h1{
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
}

h1:hover {
    font-style: italic;
    transition: 0.4s ease;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    text-transform: uppercase;
    color: #DCCA8C;
    transform: rotate(90deg);
    line-height: 75px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
}

/* Color */

.bg-yellow {
    color: #DCCA8C;
}


/* Content */

body, html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Circle with title */

.circle {
    background: #DCCA8C;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: -140px;
    left: -140px;
}

.circle h1 {
    position: absolute;
    top: 124px;
    left: 165px;
}

/* Frames and center content */

.frames {
    display: flex;
    justify-content: center;
    position: relative;
    width: 918px;
    height: 668px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.center h3 {
    display: flex; 
    justify-content: flex-end;
    padding-left: 278px;  
}

/* Date of event */

.date {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -70px;
    margin: auto 0
}

/* Image for smaller screen */
.book2 {
    display: none;
}



/* Smaller screen responsiveness*/

@media all and (max-width: 1100px) {
    body {
      position: relative;
      width: 414px;
      height: 898px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: auto;
    }

    h1:hover {
        font-style: italic;
    }
    
    .circle {
        background: #DCCA8C;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: 110px;
        right: 0;
        z-index: -1;
    }
    
    .circle h1 {
        font-size: 48px;
        position: absolute;
        top: 10px;
        left: -61px;
        right: 0;
    }
    
    .frames {
       display: flex;
       justify-content: center;
       align-content: center;
       align-items: center;
    }

    .book {
        display: none;
    }

    .book2 {
        display: block;
    }
    
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .center img {
        width: 296px;
        height: 116px;
        display: flex;
        justify-content: center;
    }
    
    .center h3 {
        font-size: 24px;
        padding: 0 5px 0 5px;
        display: flex;
        justify-content: center;
    }
    
    .date {
        position: absolute;
        bottom: 0;
        top: 640px;
        left: 32px;
        right: 0;
    }

    h2 {
        transform: rotate(0deg);
        font-size: 36px;
    }

  }